<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Angular JS Scaffold app.</title>
    <!-- inject:css -->
    <link rel="stylesheet" href="styles/style.css">
    <!-- endinject -->

    <!-- bower:css -->
    <link rel="stylesheet" href="/bootstrap-css/css/bootstrap.min.css">
    <!-- endinject -->
  </head>
  <body ng-app="AngularScaffold">
    <div ng-controller="NavbarController">
      <nav class="navbar navbar-default">
        <div class="container-fluid" >
          <div class="navbar-header pull-right">
            <form class="navbar-form navbar-right" role="search">
              <div class="form-group" ng-show="!$sessionStorage.currentUser">
                <input type="text" class="form-control" placeholder="username" ng-model="user.username">
                <input type="password" class="form-control" placeholder="password" ng-model="user.password">
                <button type="submit" class="btn btn-default" ng-click="login(user)">Log in</button>
                <button type="submit" class="btn btn-default" ng-click="register()">Register!</button>
              </div>
              <div class="row">
                  <button type="submit" class="btn btn-default" ng-click="logout()" ng-show="$sessionStorage.currentUser">Log out</button>
              </div>
            </form>
          </div>
        </div>
      </nav>
      <div ng-show="$sessionStorage.currentUser">
        <h1>Bienvenido {{$sessionStorage.currentUser.username}}</h1>
        <ul>
          Sus roles son:
          <li ng-repeat="role in $sessionStorage.currentUser.scope">{{role}}</li>
        </ul>
      </div>
    </div>
    <div class="container">
      <div ui-view></div>
  </div>
  </body>

  <!-- bower:js -->

  <script src="/jquery/dist/jquery.js"></script>

  <script src="/angular/angular.js"></script>

  <script src="/angular-ui-router/release/angular-ui-router.js"></script>

  <script src="/bootstrap-css/js/bootstrap.min.js"></script>

  <script src="/ngstorage/ngStorage.js"></script>

  <script src="/bootstrap/dist/js/bootstrap.js"></script>

  <!-- endinject -->

  <script src="app.js"></script>

  <!-- inject:js -->
  <script src="scripts/controllers/HomeController.js"></script>
  <script src="scripts/controllers/navbarController.js"></script>
  <script src="scripts/services/authService.js"></script>
  <script src="scripts/services/HomeService.js"></script>
  <!-- endinject -->
</html>
